<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Newbatch">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Batch_execution1.Ddemo1"/>
      <class name="Batch_execution1.Ddemo2"/>
      <class name="Batch_execution1.Ddemo3"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Newbatch -->
